{% extends 'info/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>About</h2>
    <p>The Lost&Found site is a full-featured Web-based demonstration application
        for the users to post their lost items and check out the found items in different
        lost and found sites. This  application is implemented using <a href="https://www.djangoproject.com">Django</a>.</p>
    </div>
  </div>
{% endblock %}
