{% extends 'info/base.html' %}

{% block title %}
    Item - {{ item }}
{% endblock %}

{% block content %}
    <h2>{{ item }}</h2>
    <ul class="inline">
        {% if perms.info.change_founditem %}
        <li>
            <a href="{{ item.get_update_url }}"
                class="button">
                Edit Item
            </a>
        </li>
        {% endif %}
        {% if perms.info.delete_founditem %}
            <li>
                <a href="{{ item.get_delete_url }}"
                    class="button">
                    Delete Item
                </a>
            </li>
    {% endif %}
    </ul>
    <section>
        <table>
            <tr>
                <th>Item:</th>
                <td>{{ item.item_name }}</td>
            </tr>
            <tr>
                <th>Found Time:</th>
                <td>{{ item.eventDate}}, </td> <td> {{ item.eventTime}} </td>
            </tr>
            <tr>
                <th>Found Place:</th>
                <td>{{ item.place}} </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description}} </td>
            </tr>
            <tr>
                <th>Site located:</th>
                <td><a href="{{ item.site.get_absolute_url }}">{{ item.site}}</a> </td>
            </tr>
            {% if item.image %}
                <tr>
                    <img src="{{ item.image.url }}" width="200">
                </tr>
            {% else %}
                <tr>
                    <br>No image uploaded for this item.<br>
                </tr>
            {% endif %}

        </table>
    </section>

{% endblock %}

