{% extends 'info/base.html' %}

{% block title %}
    Item - {{ item }} - {{ item.type }}
{% endblock %}

{% block content %}
    <h2>{{ item }}</h2>
    <ul>
        <li>
            <a href="{{ item.get_update_url }}"
                class="button">
                Edit Item
            </a>
        </li>
        <li>
            <a href="{{ item.get_delete_url }}"
                class="button">
                Delete Item
            </a>
        </li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Item:</th>
                <td>{{ item.item_name }}</td>
            </tr>
            <tr>
                <th>Time:</th>
                <td>{{ item.eventDate}}, </td> <td> {{ item.eventTime}} </td>
            </tr>
            <tr>
                <th>Place:</th>
                <td>{{ item.place}} </td>
            </tr>
            <tr>
                <th>P.S.</th>
                <td>{{ item.ps}} </td>
            </tr>
            <tr>
                <th>Site located:</th>
                <td><a href="{{ item.site.get_absolute_url }}">{{ item.site}}</a> </td>
            </tr>
        </table>
    </section>

{% endblock %}

