{% extends 'info/base.html' %}

{% block title %}
    Item - {{ item }}
{% endblock %}

{% block content %}
    <h2>{{ item }}</h2>
    <ul class="inline">
        {% if perms.info.change_lostitem %}
            <li>
                <a href="{{ item.get_update_url }}"
                    class="button">
                    Edit Item
                </a>
            </li>
        {% endif %}
        {% if perms.info.delete_lostitem %}
            <li>
                <a href="{{ item.get_delete_url }}"
                    class="button">
                    Delete Item
                </a>
            </li>
            {% if not item.found %}
                <li>
                    <form action="{% url 'info_item_get_found_urlpattern' pk=item.pk %}" method=POST>
                        {% csrf_token %}
                    <button id="approve-btn" type="submit">Found</button>

                    </form>
                </li>
            {% endif %}
        {% endif %}


    </ul>
    <section>
        <table>
            <tr>
                <th>Item:</th>
                <td>{{ item.item_name }}</td>
            </tr>
            <tr>
                <th>Time:</th>
                <td>{{ item.eventDate}}, </td> <td> {{ item.eventTime}} </td>
            </tr>
            <tr>
                <th>Lost Place:</th>
                <td>{{ item.place}} </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description}} </td>
            </tr>
            <tr>
                <th>Contact Number:</th>
                <td>{{ item.phone}}</td>
            </tr>
            <tr>
                <th>Contact Email:</th>
                <td>{{ item.email}}</td>
            </tr>
            {% if item.image %}
                <tr>
                    <img src="{{ item.image.url }}" width="200">
                </tr>
                {% else %}
                <tr>
                    <br>No image uploaded for this item.<br>
                </tr>
            {% endif %}
        </table>
    </section>

{% endblock %}

