{% extends 'info/base.html' %}

{% block title %}
    Site - {{ site }}
{% endblock %}

{% block content %}
    <h2>{{ site }}</h2>
    <ul>
        <li>
            <a href="{{ site.get_update_url }}"
                class="button">
                Edit Site
            </a>
        </li>
        <li>
            <a href="{{ site.get_delete_url }}"
            class="button">
                Delete Site
            </a>
        </li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Site:</th>
                <td>{{ site.site_name }}</td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{ site.location}}</td>
            </tr>
            <tr>
                <th>Contact:</th>
                <td>{{ site.contact}} </td>
            </tr>
        </table>
    </section>

{% endblock %}