{% extends 'info/base.html' %}

{% block title %}
    Error Deleting Site
{% endblock %}

{% block content %}
    <div>
    <h2>Error Deleting Site</h2>
    <p>
        You may not delete site {{ site }}. This
            site currently has the following
            items:
    </p>
    <ul>
        {% for item in items %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.item_name }}</a></li>
        {% endfor %}

    </ul>

    <p>
        Return to <a href="{% url 'info_site_list_urlpattern' %}">Site List</a>
    </p>

    </div>
{% endblock %}