{% extends 'info/base.html' %}

{% block title %}
    Site List
{% endblock %}

{% block create_button %}
    {% if perms.info.add_site %}
        <a href="{% url 'info_site_create_urlpattern' %}"
            class="button button-primary">
            Create New Site
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2> Site List</h2>
    {% if perms.info.add_site %}
        <div class="mobile">
            <a href="{% url 'info_site_create_urlpattern' %}"
            class="button button-primary">
            Create New Site
            </a>
        </div>
    {% endif %}

    <ul>
        {% for site in site_list %}
            <li>
                <a href="{{ site.get_absolute_url }}">{{ site }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no sites here.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
