{% extends 'info/base.html' %}

{% block title %}
    Site - {{ site }}
{% endblock %}

{% block content %}
    <h2>{{ site }}</h2>
    <ul>
        <li>
            <a href="{{ site.get_update_url }}"
                class="button">
                Edit Site
            </a>
        </li>
        <li>
            <a href="{{ site.get_delete_url }}"
            class="button">
                Delete Site
            </a>
        </li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Site:</th>
                <td>{{ site.site_name }}</td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>{{ site.location}}</td>
            </tr>
            <tr>
                <th>Contact:</th>
                <td>{{ site.contact}} </td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Items</h3>
        <ul>
            {% for item in item_list %}
                <li>
                    <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no found/lost items in {{ site.site_name }}.</em></li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}