{% extends 'info/base.html' %}

{% block title %}
    Site List
{% endblock %}

{% block content %}
    <h2> Site List</h2>
    <div>
        <a href="{% url 'info_site_create_url_pattern' %}">
            Create New Site
        </a>
    </div>
    <ul>
        {% for site in site_list %}
            <li>
                <a href="{{ site.get_absolute_url }}">{{ site }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no sites here.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
